<div class="header fixing-header" [ngClass]="{'mobile-nav-active': openHeader}">
<div class="">
    <nav class="navbar navbar-light bg-light ">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <!-- <span class="my-1 mx-2 close">X</span> -->
           </button>
        <div class="logo " >
            <span class="logo-text">PotHole Raja</span>
            <a  class= "logo-image"><img src="/assets/logo.png" alt="Foneapp logo" height="30" width="30" class="img-fluid"></a>
        </div>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="../report-pothole">Report a PotHole <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="../status-pothole">Pothole I reported</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="../login">LogOut</a>
                </li>
            </ul>
        </div>
        </div>
      </nav>
</div>
