<div class="outer-box">
    <div class="container-fluid without-footer">
        <div class="login-text">
            <h2 class="fw-bold ">Login</h2>
        </div>
        <form class="width" [formGroup]="loginForm" >
            <div class="form-outline mb-4 num">
              <div class="phone-number">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" 
                  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
                  aria-expanded="false">
                    {{ selectedCountry || 'Select' }}
                  </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="selectCountry('India')">
                          <img src="assets/country_flag/IN.png" height="13" width="18"/>
                          +91 IN
                        </a>
                        <a class="dropdown-item" (click)="selectCountry('UK')">
                          <img src="assets/country_flag/UK.png" height="13" width="18"/>
                          +44 UK
                        </a>
                        <a class="dropdown-item" (click)="selectCountry('Japan')">
                          <img src="assets/country_flag/JP.png" height="13" width="18"/>
                          +81 JAP
                        </a>
                        <a class="dropdown-item" (click)="selectCountry('Germany')">
                          <img src="assets/country_flag/DR.png" height="13" width="18"/>
                          +49 GER
                        </a>
                        <a class="dropdown-item" (click)="selectCountry('France')">
                          <img src="assets/country_flag/FR.png" height="13" width="18"/>
                          +33 FR
                        </a>
                    </div>
                </div>
            </div>
                <input type="text" autocapitalize="sentences" class="form-control aa"
                 formControlName="phoneNumber"
                placeholder="Phone Number" aria-label="Text input with dropdown button" 
                inputmode="decimal" 
                oninput="this.value=this.value.replace(/[^0-9]/g,'').replace(/(\..*)\./g,'$1');"
                minlength="10" maxlength="10" required >
              </div>
              <div class="form-outline mb-4">
                <input type="password" class="form-control" formControlName="password"
                placeholder="Password" aria-label="Text input with dropdown button"
                inputmode="decimal" 
                minlength="8" maxlength="15" required>
              </div>
              <div class="signup-txt">
                <p class="account-line">
                  Don't have an account?
                  <a routerLink="../phone-verify">
                    Sign Up
                  </a>
                </p>
              </div>
              <div  [ngClass]="
              { 'error': errorMessage !==''}">
                <p>{{errorMessage}}</p>
                <!-- <button class="close-button" *ngIf="errorMessage !== ''" (click)="clearErrorMessage()">X</button> -->
              </div>
              <div class="btn-box">
                <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block mb-4">
                    Login
                </button>
              </div>
  
        </form>
    </div>
</div>
