.version{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}
.img-logo{
    height: 45px;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.image-container img {
    display: block;
    margin: 0 auto;
   
}
@media screen and (max-width: 320px){
    .img-logo{
        height: 30px;
    }
}

