<div class="outer-box">
    <div class="container-fluid with-call">
        <div class="box-call">
            <div class="img-person">
                <img src="assets/icons/man.png"  height="120"  alt="" />
            </div>
            <div class="person-name">
                    <p class="names">Anmol Reshi</p>
                    <p class="person-number">+91 8492959474</p>
            </div>
            <div class="call-btn">
                    <div class="recived-btn">
                        <img src="assets/icons/incoming.png" height="40" alt =""/>
                    </div>
                    <div class="cut-btn" (click)="callCut()">
                        <img src="assets/icons/cut.png" height="40" alt="">
                    </div>
            </div>
       </div>
    </div>
</div>
