.heading-login{
    height: 20%;
    text-align: center;
    margin-top: 10%;
}
.account-line{
    font-size: small;
}
.account-line a{
    font-weight: bold;
    color: aliceblue;
}
.account-line a:hover{
    color: blue;
}
.width{
    padding: 20px;
}
.alert-red{
    padding: 10px 0px;
}
.alert-red p{
    font-weight: 500;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: red;
    text-align: center;

}
.btn-block a{
    color: white !important;
    font-weight: 500;
}