<div class="outer-box">
    <div class="container-fluid with-footer">
            <div class="heading">
                <span class="head-span">
                    <span (click)="backButton()"><i class="fa fa-angle-left"></i></span>
                    <span>Settings</span>
                </span>
            </div>
         <div class="setting-list">
            <div class="row fontAvenirMedium">
                <div class="col-12">
                    <div class="display-at-ends setting-row" (click)="logout()" >
                        <span >
                            <span class="setting-icon"><i class="fa fa-sign-out"></i></span>
                            <span>LogOut</span>
                        </span>
                        <span>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <div class="display-at-ends setting-row" >
                        <span>
                            <span class="setting-icon"><i class="fas fa-file-invoice-dollar"></i></span>
                            <span>Billing</span>
                        </span>
                        <span>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </div>
                </div> -->
                <!-- <div class="col-12">
                    <div class="display-at-ends setting-row" >
                        <span>
                            <span class="setting-icon"><i class="far fa-credit-card"></i></span>
                            <span>Payment Methods</span>
                        </span>
                        <span>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </div>
                </div> -->
                <!-- <div class="col-12">
                    <div class="display-at-ends setting-row">
                        <span>
                            <span class="setting-icon"><i class="fas fa-wrench"></i></span>
                            <span>FAQs</span>
                        </span>
                        <span>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </div>
                </div> -->
                <div class="col-12">
                    <div class="display-at-ends setting-row">
                        <span>
                            <span class="setting-icon"><i class="fas fa-wrench"></i></span>
                            <span>Help & Support</span>
                        </span>
                        <span>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </div>
                </div>
         </div>
      <app-footer settingSelected="true"></app-footer>
    </div>
 </div>
