<div class="outer-box">
    <div class="container without-border">
        <div class="heading-splash">
            <p>Volunteers Who Contributed to this Project</p>
        </div>
        <div class="images-volunteer">        
            <div class="row">
                <div class="col-4 img-space" *ngFor="let image of images">
                  <img [src]="image"  alt="" />
                </div>
              </div>      
        </div>
        <div class="version">
            Build By Ikadit 
       </div>
    </div>
</div>
    
