.heading-signup{
    text-align: center;
    font-size: medium;
    margin-top: 15px;
}
.account-line{
    font-size: small;
}
.account-line a{
    font-weight: bold;
    color: aliceblue;
}
.account-line a:hover{
    color: blue;
}
.width{
    padding: 20px;
}
.text-danger{
    padding: 5px;
    font-size: small;
    font-weight: 500;
}
.btn-primary{
    background-color: #103b95 !important;
}